<section>
    <h2>Contáctenos</h2>
    <label for="contactNombre" class="form-label">Nombre Contacto</label>
    <input type="text" class="form-control" id="contactNombre" aria-describedby="contactHelp">
    <div id="contactHelp" class="form-text">Nombre de la persona a contactar.</div>
    <label for="contactCorreo" class="form-label">Correo Contacto</label>
    <input type="email" class="form-control" id="contactCorreo" aria-describedby="CorreoHelp">
    <div id="CorreoHelp" class="form-text">Correo de la persona a contactar.</div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est tempora reiciendis perferendis, nesciunt esse tempore error nam, quas dolores aspernatur eius voluptatibus mollitia? Sint quod quam esse. Ullam, ratione minima?</p>
</section>