<footer id="moodle-footer" role="contentinfo" class="clearfix">
    <div id="snap-site-footer">
        <div id="snap-footer-content">
            <p style="text-align: center;"><b>ALEJANDRO SUAREZ LOZANO</b><br /></p>
            <p style="text-align: center;"><b>Servicio al cliente: Teléfono 3006160201</b></p>
            <p style="text-align: center;"></p>
            <p style="text-align: center;"><b><a href="http://alejandro_suarez_lozano@yahoo.com" target="_blank">alejandro_suarez_lozano@yahoo.com</a></b></p>
            <p style="text-align: center;"><span style="font-size: 1rem;">----------------------------------------------------------------------------------------------------------------------</span></p>
            <p></p>
        </div>
        <div id="snap-socialmedia-links">
            <a href="https://www.facebook.com/asulsas" target="_blank"><img class="svg-icon" title="facebook" alt="facebook" src="../../../assets/images/facebook.jpg"></a>
            <a href="https://www.youtube.com/notengo" target="_blank"><img class="svg-icon" title="youtube" alt="youtube" src="../../../assets/images/youtube.png"></a>
            <a href="https://www.instagram.com/notengo" target="_blank"><img class="svg-icon" title="instagram" alt="instagram" src="../../../assets/images/twiter.jpg"></a>
        </div>
    </div>
    <div class="row">
        <div id="mrooms-footer" class="helplink col-sm-6">
            <small>
                Copyright &#169; 2021, todos los derechos reservados.        </small>
        </div>
        <div class="langmenu col-sm-6 text-right">
        </div>
    </div>
    <div id="goto-top-link">
        <a class="btn btn-light" role="button" href="javascript:void(0)">
            <i class="icon fa fa-arrow-up fa-fw" title="Go to top" aria-label="Go to top"></i>
        </a>
    </div>
</footer>