<section>
    <img class="d-block mx-auto img-fluid" src="assets/icons/history.png " alt="Historicos " />
    <h2>Personajes historicos</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est tempora reiciendis perferendis, nesciunt esse tempore error nam, quas dolores aspernatur eius voluptatibus mollitia? Sint quod quam esse. Ullam, ratione minima?</p>
    <img class="d-block mx-auto img-fluid" src="assets/images/3.jpg" alt="Rembrant" />
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est tempora reiciendis perferendis, nesciunt esse tempore error nam, quas dolores aspernatur eius voluptatibus mollitia? Sint quod quam esse. Ullam, ratione minima?</p>
    <img class="d-block mx-auto img-fluid" src="assets/images/einstein.png" alt="Einstein" />
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est tempora reiciendis perferendis, nesciunt esse tempore error nam, quas dolores aspernatur eius voluptatibus mollitia? Sint quod quam esse. Ullam, ratione minima?</p>
    <img class="d-block mx-auto img-fluid" src="assets/images/hitler.jpg" alt="Einstein" />
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est tempora reiciendis perferendis, nesciunt esse tempore error nam, quas dolores aspernatur eius voluptatibus mollitia? Sint quod quam esse. Ullam, ratione minima?</p>
</section>